.WallList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5em;
  max-width: 1200px;
  margin: auto;
  padding: 2em;
}

.WallCard {
  width: 260px;
  height: 260px;
  margin: auto;
  padding: 2em;
  border: 4px solid rgba(126, 124, 124, 0.6);
  border-radius: 1%;
  box-shadow: 8px 5px 5px rgb(231, 194, 159);
  background-color: rgb(223, 202, 177);
  position: relative;
  z-index: 1;
}

.WallCard > img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 35%;
}

.WallCardContent > a {
  color: rgb(1, 71, 1)
}

.WallCardContent > a:visited {
  color: darkolivegreen;
}

.WallCardContent > p {
  font-size: 1.3em;
  color: rgb(0,44,0);
}
  
/* smaller screens and tbalets */
@media only screen and (max-width: 1100px) {
  .WallList {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
  .WallList {
    grid-template-columns: 1fr;
  }
  .WallSearch {
    flex: 1;
    margin: auto;
  }
}

.WallSearch form {
  display: flex;
  align-items: center;
}

.WallSearch form input, .WallSearch form button {
  padding: 1em;
  margin: 0;
  border: 1px solid;
  font-size: 1rem;
}

.WallSearch form input {
  min-width: 100px;
  margin-left: 2.5em;
}

.WallSearch form button {
  margin-right: 2.5em;
}

.WallSearch form input {
  flex: 1;
}