.WallList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    width: calc(100% - 80px);
    max-width: 1200px;
    margin: auto;
    padding: 1em 2em 2em 2em;
  }
  
  /* smaller screens and tbalets */
  @media only screen and (max-width: 960px) {
    .WallList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Small screens mobile */
  @media only screen and (max-width: 700px) {
      .WallList {
          grid-template-columns: 1fr;
      }
      .WallSearch {
      flex: 1;
      margin: auto;
    }
  }
  
  .WallSearch form {
      display: flex;
      align-items: center;
  }
  
  .WallSearch form input, .WallSearch form button {
      padding: 1em;
      margin: 0;
      border: 1px solid;
      font-size: 1rem;
  }
  
  .WallSearch form input {
    min-width: 100px;
      margin-left: 2.5em;
  }
  
  .WallSearch form button {
      margin-right: 2.5em;
  }
  
  .WallSearch form input {
      flex: 1;
      /* border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em; */
  }
  
  /* .WallSearch form button {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
  } */